@using Microsoft.AspNetCore.Identity
@using DAL.Models
@using DAL.Authorization
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/main.css" asp-append-version="true" />
    <title>@ViewData["Title"] - pv179</title>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.min.js"></script>
</head>

@* htmx hx-boost makes it so the page feels more like SPA - no annoying load "flashes" *@

<body hx-boost="true" class="bg-base-200">
    <div class="drawer lg:drawer-open">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />

        <div class="drawer-content">
            <!-- Navbar -->
            <nav class="navbar w-full bg-base-300">
                <label for="my-drawer-4" aria-label="open sidebar" class="btn btn-square btn-ghost">
                    <!-- Sidebar toggle icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-linejoin="round"
                        stroke-linecap="round" stroke-width="2" fill="none" stroke="currentColor"
                        class="my-1.5 inline-block size-4">
                        <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z">
                        </path>
                        <path d="M9 4v16"></path>
                        <path d="M14 10l2 2l-2 2"></path>
                    </svg>
                </label>
                <div class="flex-1 px-4">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="text-xl font-bold">pv179</a>
                </div>
            </nav>

            <!-- Page content here -->
            <main role="main" class="container mx-auto px-4 min-h-screen">
                @RenderBody()
            </main>
            <footer class="bg-neutral text-neutral-content w-full">
                <div class="container mx-auto px-4 py-8">
                    &copy; 2025 - pv179 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </footer>
        </div>

        <div class="drawer-side is-drawer-close:overflow-visible">
            <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"></label>
            <div
                class="flex min-h-full flex-col items-start bg-base-200 is-drawer-close:w-14 is-drawer-open:w-64 min-w-96">
                <!-- Sidebar content here -->
                <ul class="menu w-full grow">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index"
                            class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Home">
                            <icon name="home" />
                            <span class="is-drawer-close:hidden">Home</span>
                        </a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (User.IsInRole(AppRoles.Admin))
                        {
                            <li>
                                <a asp-route="AdminIndex"
                                    class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Admin">
                                    <icon name="shield" />
                                    <span class="is-drawer-close:hidden">Admin</span>
                                </a>
                            </li>
                        }
                        <li>
                            <a asp-area="" asp-controller="Search" asp-action="Index" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Search">
                                <icon name="search" />
                                <span class="is-drawer-close:hidden">Search</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Playlist" asp-action="Index" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="My Playlists">
                                <icon name="list" />
                                <span class="is-drawer-close:hidden">My Playlists</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Subscription" asp-action="MySubscriptions" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="My Subscriptions">
                                <icon name="notebook-tabs" />
                                <span class="is-drawer-close:hidden">My Subscriptions</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Video" asp-action="Create" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="Upload Video">
                                <icon name="upload" />
                                <span class="is-drawer-close:hidden">Upload Video</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Order" asp-action="MyOrders" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="My Orders">
                                <icon name="shopping-bag" />
                                <span class="is-drawer-close:hidden">My Orders</span>
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="User" asp-action="Index" asp-route-id="@UserManager.GetUserId(User)" class="is-drawer-close:tooltip is-drawer-close:tooltip-right" data-tip="My Profile">
                                <icon name="user" />
                                <span class="is-drawer-close:hidden">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" class="w-full">
                                <button type="submit" class="is-drawer-close:tooltip is-drawer-close:tooltip-right flex items-center gap-2" data-tip="Logout">
                                    <icon name="log-out" />
                                    <span class="is-drawer-close:hidden">Logout</span>
                                </button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
